<!DOCTYPE html>
{% block stylesheets %}

{{ encore_entry_link_tags("app") }}

{% endblock %}

<body class="bg-secondary">
    <header>{% include "_navbar.html.twig" %}</header>
    {% block content %}{% endblock %}
</body>

{% block javascripts %}

{{ encore_entry_script_tags("app") }}

{% endblock %}
